<footer class="page-footer white">
    <div class="footer-copyright">
    <div class="container blue-text text-darken-2 center">
    <a class="blue-text text-darken-2" href="https:github.com/tnsherpa1/" target="_blank"><i class="fab fa-github-square fa-3x"></i> </a>
    <a class="blue-text text-darken-2" href="https://www.linkedin.com/in/tnsherpa1/" target="_blank"><i class="fab fa-linkedin fa-3x"></i> </a>
    <a class="blue-text text-darken-2" href="tel:17079337634"><i class="fas fa-phone-square fa-3x"></i></a>
    <br>
    © tashisherpa.io 2018. All rights reserved.
    </div>
    </div>
</footer>