<div class="navbar-fixed">
<nav class="nav-center white" role="navigation">
    <div class="nav-wrapper container">
      <ul>
        <li><a class="blue-text text-darken-2" href="#about">About</a></li>
        <li><a class="blue-text text-darken-2" href="#projects">Projects</a></li>
        <li><a class="blue-text text-darken-2" href="#contact">Contact</a></li>
        <li><a class="blue-text text-darken-2" href="public/pdfs/tashi-sherpa-resume.pdf" target="_blank">Resume</a></li>
      </ul>
    </div>
  </nav>
  </div>