<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tashi Sherpa- Software Engineer</title>
    <link rel="icon" href="public/img/favicon.ico?v=1.1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
    {{> header }}
    <div class="container">
        {{{body}}}
    </div>
    {{> footer }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="vendors/sweetalert/dist/sweetalert.min.js"></script>
    <script src="public/js/portfolio.js"></script>
</body>
</html>