{{!-- About --}}
<div class="section scrollspy" id="about">
  <div class="row">
    <div class="col s12 flow-text">
      <div class="card darken-1">
        <div class="card-content center">
          <img id="avatar" src="public/img/avatar.jpeg" alt="Tashi Sherpa - Software Engineer">
          <span class="card-title">Hi, I am Tashi Sherpa</span>
          <div>
          <h5>
          <a href="" class="typewrite black-text" data-period="2000" data-type='[ "Software Engineer.", "Web Enthusiast.", "Team Player.", "Coffee Lover." ]'>
          <span class="wrap"></span>
          </a><span class="cursor">|</span></h5>
          </div>
          <br>
          <blockquote>As a software developer, I care about the end user. I love building web applications that help businesses scale. I also enjoy working towards creative ideas that deliver great user experience and value.</blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Projects --}}
<div class="section scrollspy" id="projects">
  <div class="row">
    <div class="col s12 center-align">
        <h5 class="flow-text">Recent Projects</h5>
    </div>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="public/img/nyc-search-data.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">NYC Search Data<i class="material-icons right">more_vert</i></span>
          <div><a class="blue-text text-darken-2" href="https:github.com/tnsherpa1/" target="_blank"><i class="fab fa-github fa-2x"></i> View on GitHub </a></div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">NYC Search Data<i class="material-icons right">close</i></span>
          <p>A single page react application that consumes a Java microservices backend.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="public/img/vinely_app.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vinely<i class="material-icons right">more_vert</i></span>
          <div><a class="blue-text text-darken-2" href="https:github.com/tnsherpa1/" target="_blank"><i class="fab fa-github fa-2x"></i> View on GitHub </a></div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Vinely<i class="material-icons right">close</i></span>
          <p>A single page react application that consumes a Java backend.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="public/img/digishare-2.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Digi Share<i class="material-icons right">more_vert</i></span>
          <div><a class="blue-text text-darken-2" href="https:github.com/tnsherpa1/" target="_blank"><i class="fab fa-github fa-2x"></i> View on GitHub </a></div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Digi Share<i class="material-icons right">close</i></span>
          <p>A Ruby on Rails web application to store pdfs.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Say Hello --}}
<div class="section scrollspy" id="contact">
<div class="row">
  <div class="col s12 center-align">
    <h5 class="flow-text">Say Hello</h5>
  </div>
</div>
<div class="col s12 m6 l4">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="First Name" id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Last Name" id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Email" id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea placeholder="Your brief message.." id="message" class="materialize-textarea"></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <div class="row center-align">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
      </div>
    </form>
  </div>
  </div>
        